
<style>
.bg-grey {
  background-color: #f6f6f6;
}
.jumbotron {
  background-color: #f4511e;
  color: #fff;
  padding: 100px 25px;
}

.container-fluid {
  padding: 60px 50px;
}
.logo {
  font-size: 200px;
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}
</style>
<h1>&nbsp;</h1>
<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Us</h2>
      <p>We have a wide variety of plants and flowers available for purchase on our website. 
      Whether you are looking for something small and delicate or big and bold, we have the perfect plant for you. 
      We also carry a selection of accessories, including potting soil, pots and containers, watering cans, and more.
      </p>
      <button class="btn btn-outline-success">Get in Touch</button>
    </div>
    <h1>&nbsp;</h1>
    <h1>&nbsp;</h1>
    <div class="col-sm-8">
      <h2>Our Values</h2>
      <h5><strong>MISSION:</strong>Make The World Better </h5>
      <h5><strong>VISION:</strong> Plants Are The Future</h5>
    </div>
  </div>
    
  </div>
</div>


